Repository accabog/rhr: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

chore(ci): update staging deployment to use develop branch
  .github/workflows/deploy-staging.yml
Due: none

chore(db): squash migrations for clean slate
  backend/apps/contracts/migrations/0001_initial.py
  backend/apps/contracts/migrations/0002_initial.py
  backend/apps/core/migrations/0001_initial.py
  backend/apps/core/migrations/0002_initial.py
  backend/apps/employees/migrations/0001_initial.py
  backend/apps/leave/migrations/0001_initial.py
  backend/apps/tenants/migrations/0001_initial.py
  backend/apps/tenants/migrations/0002_initial.py
  backend/apps/timesheets/migrations/0001_initial.py
  backend/apps/timetracking/migrations/0001_initial.py
  backend/apps/users/migrations/0001_initial.py
Due: backend

fix: sort imports in migration file
  backend/apps/contracts/migrations/0002_remove_contracttype_unique_contract_type_code_per_tenant_and_more.py
  backend/apps/core/migrations/0001_initial.py
  backend/apps/employees/migrations/0002_remove_department_unique_department_code_per_tenant_and_more.py
  backend/apps/employees/migrations/0003_add_location_fields.py
  backend/apps/employees/migrations/0004_move_country_to_department.py
  backend/apps/leave/migrations/0002_remove_leavebalance_unique_leave_balance_per_employee_type_year_and_more.py
  backend/apps/leave/migrations/0003_add_location_fields.py
  backend/apps/leave/migrations/0004_holiday_external_id_holiday_holiday_types_and_more.py
  backend/apps/tenants/migrations/0002_add_logo_icon.py
  backend/apps/timesheets/migrations/0002_remove_timesheet_unique_timesheet_per_employee_period_and_more.py
  backend/apps/timetracking/migrations/0002_remove_timeentrytype_unique_time_entry_type_code_per_tenant_and_more.py
  backend/apps/users/migrations/0002_user_tenants.py
  backend/apps/users/migrations/0003_alter_user_groups.py
  backend/apps/users/migrations/0004_googleaccount.py
Due: backend

feat(ci): add staging database reset option to maintenance workflow
  .github/workflows/maintenance.yml
Due: none

feat(ci): add manual trigger to staging deploy workflow
  .github/workflows/deploy-staging.yml
Due: none

fix(deps): upgrade @ant-design/pro-components for antd v6 compatibility
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/leave/__tests__/LeaveRequestFormModal.test.tsx
  frontend/src/features/timetracking/__tests__/WeeklySummaryCard.test.tsx
Due: frontend

fix(lint): resolve react-hooks/set-state-in-effect errors
  frontend/src/features/profile/ProfilePage.tsx
  frontend/src/layouts/AppLayout.tsx
Due: frontend

fix(types): update Divider prop for antd v6 API change
  frontend/src/features/employees/EmployeeFormModal.tsx
Due: frontend

fix(antd6): update deprecated props for antd v6 compatibility
  frontend/src/features/contracts/ContractsPage.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/leave/LeavePage.tsx
  frontend/src/features/leave/LeaveRequestFormModal.tsx
  frontend/src/features/timesheets/TimesheetDetailPage.tsx
  frontend/src/features/timesheets/TimesheetsPage.tsx
  frontend/src/features/timetracking/WeeklySummaryCard.tsx
Due: frontend

fix: fix URL construction and tests for antd v6 compatibility
  frontend/src/api/contracts.ts
  frontend/src/api/leave.ts
  frontend/src/api/timesheets.ts
  frontend/src/features/auth/__tests__/LoginPage.test.tsx
Due: frontend

docs: update changelog and frontend docs for antd v6 upgrade
  CHANGELOG.md
  docs/frontend.md
Due: none

fix(antd6): fix remaining deprecation warnings
  frontend/src/features/contracts/ContractsPage.tsx
  frontend/src/features/leave/LeaveRequestFormModal.tsx
  frontend/src/features/organization/PositionsTab.tsx
  frontend/src/features/timesheets/TimesheetDetailPage.tsx
Due: frontend

fix(antd6): replace deprecated List, add global test cleanup
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/test/setup.ts
Due: frontend

chore: adjust function coverage threshold after antd v6 migration
  frontend/vite.config.ts
Due: frontend

fix(tests): use async cleanup to prevent window is not defined errors
  frontend/src/test/setup.ts
Due: frontend

fix(tests): add setImmediate flush to cleanup for React scheduler
  frontend/src/test/setup.ts
Due: frontend

chore: update visual regression baselines after antd v6 migration
  frontend/e2e/visual.spec.ts-snapshots/dashboard-chromium-linux.png
  frontend/e2e/visual.spec.ts-snapshots/employees-chromium-linux.png
  frontend/e2e/visual.spec.ts-snapshots/leave-calendar-chromium-linux.png
Due: frontend

chore: force CI trigger
  frontend/vite.config.ts
Due: frontend

fix(tests): suppress benign React scheduler cleanup errors
  frontend/src/test/setup.ts
Due: frontend

fix(frontend): resolve antd v6 deprecation warnings
  frontend/src/components/DocumentUpload.tsx
  frontend/src/features/employees/EmployeeDetailDrawer.tsx
  frontend/src/features/employees/EmployeeFormModal.tsx
  frontend/src/features/leave/LeavePage.tsx
  frontend/src/features/organization/PositionsTab.tsx
Due: frontend

style(auth): update login page to corporate design
  frontend/src/features/auth/LoginPage.tsx
Due: frontend

fix(deps): upgrade Django to 5.2.11 for security patches
  backend/pyproject.toml
  backend/uv.lock
Due: backend

docs: update CLAUDE.md to use uv run for backend commands
  CLAUDE.md
Due: none

fix(e2e): increase visual regression threshold to 150px
  frontend/e2e/visual.spec.ts
Due: frontend

fix(auth): make Google login button full width on login page
  frontend/src/features/auth/components/GoogleLoginButton.tsx
Due: frontend

fix(ci): use git reset instead of pull in staging deploy
  .github/workflows/deploy-staging.yml
Due: none
